{{ define "content" }} {{ $hero := .Params.hero }}

<script
  src="https://kit.fontawesome.com/bd96ab2279.js"
  crossorigin="anonymous"
></script>
<section class="section book__hero mb-5">
  <div class="container">
    <div class="flex">
      <img src="{{$hero.hero_image}}" class="maxw-25" />
      <div class="flex flex-column book__hero_headings flex-auto">
        <h2>{{ .Params.title }}</h2>
        <h3>{{ $hero.subtitle }}</h3>
        <div class="rating">{{ partial "rating.html" .Params.rating }}</div>
      </div>
      <div class="book__hero_links flex flex-column align-center">
        {{ range $hero.links }}
        <a href="{{ .url }}" target="_blank">{{ .name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="section book__content">
  <div class="container">{{ .Content | markdownify }}</div>
</section>

{{ end }}
