$primary: #012169;

article {
  height: 100%;
}

.book {
  padding: 20px 20px;
}

.narrow-screen {
  display: none;
}
$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
  .wide-screen {
    display: none;
  }
  .narrow-screen {
    display: block;

    a {
      width: 50% !important;
    }
    .rating {
      color: #4d7eec;
      margin-top: 20px !important;
    }
  }
}
.book__hero {
  padding-top: 60px;
  x h1,
  h2,
  h3 {
    color: $primary;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }

  .book__hero_headings {
    padding: 0 200px 20px 40px;
    flex: 2;
  }
  .book__hero_links {
    margin: auto;
    a {
      width: 90%;
      text-decoration: none;
      text-align: center;
      padding: 10px;
      background-color: $primary;
      color: white;
      margin: 20px 0;
      border-radius: 10px;
    }
  }
  .book__hero_links,
  .book_image_container {
    flex: 1;
  }

  .rating {
    color: #4d7eec;
    margin-top: auto;
  }
}

.book__content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $primary;
  }
  p,
  li {
    color: #596788;
  }
}

.book__item {
  font-size: 0.6rem;
}
