$primary: #012169;

article {
  height: 100%;
}

.book {
  padding: 20px 20px;
}

.book__hero {
  padding-top: 60px;
  x h1,
  h2,
  h3 {
    color: $primary;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  a {
    text-decoration: none;
    text-align: center;
    padding: 10px 60px;
    background-color: $primary;
    color: white;
    margin: 20px 0;
    border-radius: 10px;
  }
  .book__hero_headings {
    padding: 0 20px 20px 20px;
    padding-right: 60px;
  }
  .book__hero_links {
    margin: auto;
    flex: 0 0 25%;
  }

  .rating {
    color: #4d7eec;
    margin-top: auto;
  }
}

.book__content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $primary;
  }
  p,
  li {
    color: #596788;
  }
}

.book__item {
  font-size: 0.6rem;
}
